h1{
    text-align: center;
    color: darkolivegreen;
}

.texts{
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 5px 3px 2px darkolivegreen;
    border-color: white;
    align-items: center;
}

.buttons {
    width: 170px;
    height: 40px;
    background-color: darkolivegreen;
    color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
}

body{
    padding: 10px;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

